*{
    margin: 0%;
    padding: 0%;
    font-family: Arial;
    border: border-box;

}

.navbar{
    height: 60px;
    background-color: #131921; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    width: 910px;
    height: 40px;
    border-radius: 5px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    border-radius: 4px 0px 0px 4px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;

}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    font-size: 1.2rem;
    background-color: #febd68;
    border-radius: 0px 4px 4px 0px;
    color: #0F1111;
}

.nav-lang{
    display: flex;
    justify-content: space-evenly;
}
.nav-lang p{
    padding-left: 4px;
    padding-right: 4px;
}

.nav-cart{
    display: flex;
}

.nav-cart i, .nav-cart p{
    text-decoration: none;
    color: white;
}

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.pannel{
    height: 35px;
    display: flex;
    background-color: #232f3e;
    color: white;
    align-items: center;
}

.pannel-ops a, .pannel-all{
    font-size: 15px;
    text-decoration: none;
    color: white;
    align-items: center;
    margin-left: 10px;
}

.pannel-ops{
    width: 80%;
}

.hero-section{
    background-image: url("hero.jpg");
    background-size: cover;
    height: 600px;
}
.shop-section{
    padding-top: 250px;
    display: flex;
    justify-content: space-evenly;
}

.shop-section2{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    box-sizing: border-box;
    padding: 25px 23px 10px;
}
.box-img{
    height: 300px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: .5rem;
    background-repeat: no-repeat;
}
.box-img6{
    height: 275px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: .5rem;
    background-repeat: no-repeat;
}

.box2 a{
    text-decoration: none;
    
}

.ll{
    text-decoration: none;
    font-size: 13px;
    color: #007185;
    ;
}
.ll:hover{
    color: red;
    text-decoration: underline;
}

footer{
    margin-top: 550px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    display: flex;
    height: 320px;
    background-color: #222f3d;
    color: white;
    justify-content: space-evenly;
}

ul a{
    display: block;
    color: #dddddd;
    text-decoration: none;
    font-size: 14px;
    margin-top: 8px;
}
ul a:hover{
    text-decoration: underline;
}
ul p{
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid rgba(255, 255, 255, 0.384);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel3 button{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.903);
    padding: 5px 10px;

}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color:#131921;
    font-size: 0.7rem;
    text-align: center;
    height: 75px;
    color: white;
}

.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
}

.mainrside{
    font-size: 15px;
    border: 2px solid black ;
    box-sizing: border-box;
    width: 220px;
}
.mainrside a{
    color: #0F1111;
    margin-left: 15px;
}
.mainrside p{
    margin-top: 15px;
    color: #0F1111;
    margin-left: 10px;
    font-weight: bold;
}
main{
    display: flex;
}
.mainlside{
    margin: 15px 15px ;
}

.shop-section2{
    display: flex;

}

.box2{
    height: 450px;
    width: 23%;
    background-color: white;
    box-sizing: border-box;
    padding: 25px 23px 10px;
}

.sbox1{
    background-image: url('imgs/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}